html, body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: sans-serif;
  }
  
  #myCanvas {
    display: block;
    margin: 0 auto;
    background-color: #eee;
  }

  #controls {
  margin: 10px;
  font-family: sans-serif;
}
button {
  margin-left: 5px;
}
